<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="text-center">Product List</h2>
      </div>
    <div class="container">
    <div class="panel-body">
    <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
    <th>Name</th>
    <th>Price</th>
    <th>InStock</th>
    <th>Stock Quantity</th>
    <th>Brand Name</th>
    <th>Actions</th>
    
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.inStock}}</td>
    <td>{{product.stockQuantity}}</td>
    <td>{{product.brandName}}</td>

    <td><button (click)="updateProduct(product.id)" class="btn btn-success">Update</button></td>
    <td><button (click)="deleteProduct(product.id)" class="btn btn-danger" style="margin-left:10px">Delete</button></td>
    
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    
    